@model GenericAppDLL.Models.ViewModels.ViewListAddressViewModel

<partial name="_SettingsImplementation" model="@Model.settings"></partial>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.addresses.FirstOrDefault().Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.addresses.FirstOrDefault().Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.addresses.FirstOrDefault().MainStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.addresses.FirstOrDefault().Suburb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.addresses.FirstOrDefault().PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.addresses.FirstOrDefault().Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.addresses.FirstOrDefault().Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.addresses.FirstOrDefault().lon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.addresses.FirstOrDefault().Caption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.addresses.FirstOrDefault().ModelGuid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.addresses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suburb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelGuid)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
