@model GenericAppDLL.Models.ViewModels.FriendRequestViewModel

<div class="d-flex">

    <div class="card card-text">
        <div class="row">
            <div class="col-4">
                <img class="card-img" src="~/Images/defaultImage.jpg" alt="Card image cap">
            </div>
            <div class="col-8">
                <div class="">
                <div class="">
                    <span> Username : @Model.CustomerName</span><br />
                    <span> User Email : @Model.CustomerEmail</span><br />
                    <span> Sent : @Model.CreatedDateTime</span><br />
                </div>
                    <span>
                        <a asp-action="AcceptFriendRequest" asp-controller="Profile" asp-route-id="@Model.SenderGuid" class="btn btn-success AddItemToCart">Accept</a>
                        <a asp-action="DeclineFriendRequest" asp-controller="Profile" asp-route-id="@Model.SenderGuid" data-target="#Modal" class="btn btn-danger AddItemToCart">Decline</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>