@model GenericAppDLL.Models.ViewModels.MeetupViewRequestModel


<div class="d-flex">
    <div id="@Model.MeetupGuid" onclick="check()" class="card card-text" style="width:27em;">
        <div class="row">
            <div class="col-4">
    <a asp-action="ViewProfileById" asp-controller="Profile" asp-route-email="@Model.SenderGuid" style="">
                <img class="card-img" src="~/profileimage.png" alt="Card image cap">
      </a>
            </div>
            <div class="col-8">
    <a asp-action="ViewProfileById" asp-controller="Profile" asp-route-email="@Model.SenderGuid" style="">
                <div class="">
                    <div class="">
                        <h3 class="Card-Header"> @Model.SenderName</h3><br />
                        <small>@Model.SentDateTime  </small><br />
                        <small>@Model.Caption  </small><br />
                        <small>@Model.Description  </small><br />
                    </div>
                            <span class="d-flex">
                                <form asp-action="Respond" asp-controller="MeetupRequest" asp-route-id="@Model.ModelGuid">
                                    <input asp-for="MeetupGuid" hidden />

                                @if (Model.Status == 1)
                                {
                                    @if (!Model.IsSender)
                                    {
                                        <a asp-action="Accept" asp-controller="MeetupRequest" asp-route-id="@Model.ModelGuid" class="btn btn-success AddItemToCart"><i class="fa-regular fa-circle-check"></i></a>
                                    }
                                    <a asp-action="Decline" asp-controller="MeetupRequest" asp-route-id="@Model.ModelGuid" data-target="#Modal" class="btn btn-danger AddItemToCart"><i class="fa-regular fa-circle-xmark"></i></a>
                                }else if(Model.Status==2)
                                {
                                    <small>@Model.Message</small>

                                }else if(Model.Status==3)
                                {
                                    <small> Has been declined</small>

                                }
                            </form>

                            </span>
                    </div>
    </a>
            </div>
        </div>
    </div>

</div>
<br />

<script type="text/javascript">
    var id = @Model.MeetupGuid;
    console.log(id);

    $("#"+id).click(function () {
        console.log("goto", @Model.MeetupGuid);
    });

    function check() {
        console.log("goto", @Model.MeetupGuid);
    }
</script>