@model GenericAppDLL.Models.ViewModels.DirectMessageViewModel

@if (@Model.SenderGUID == @Model.MyGuid)
{

    <div class="d-flex align-items-baseline mb-4 justify-content-md-end messageBubble">

    <div class="pe-2">
        <div class="card card-text d-inline-block p-2 px-3 m-1">
            @Model.Message
        </div>
        <div class="small">
            @Model.CreationDateTime
        </div>
    </div>
    @*text-end justify-content-end*@

    </div>
}else
{
    <div class="d-flex align-items-baseline mb-4  messageBubble">

        <div class="position-relative avatar">
            <img class="img-fluid rounded-circle" src="~/ProfileImage.png" />
            <span class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                <span class="visually-hidden">new alerts</span>
            </span>
        </div>

        <div class="pe-2">
            <div class="card card-text d-inline-block p-2 px-3 m-1">
                @Model.Message
            </div>
            <div class="small">
                @Model.CreationDateTime
            </div>
        </div>
        @*text-end justify-content-end*@

    </div>


}

<script type="text/javascript">
    $(document).ready(function () {
        var isSender = "@Model.SenderGUID" == "@Model.MyGuid";
        console.log("Message details", "@Model.SenderGUID", "@Model.MyGuid", isSender);
    if(isSender){
    //$(".messageBubble").addClass('justify-content-md-end');
    }

    });
</script>

