@model GenericAppDLL.Models.ViewModels.JournalViewModel
<div class="journal card card-body">
<div class="row">
    <div class="col-md-6">
        <img src="/@Model.uploadPathsList.FirstOrDefault()" style="max-height:20em;max-width:20em;"></img>
    </div>
    <div class="col-md-6 justify-content-end">
        <input asp-for="UserGuid" hidden value="@Model.UserGuid" class="form-label"></input>
        <input asp-for="ItemGuid" hidden value="@Model.ItemGuid" class="form-label"></input>
        <input asp-for="Title" value="@Model.Title" style="width:20em;text-align:end;margin-left: 2.5em !important;" class="">
        <partial name="_ImageCarousel" model="Model.uploadPathsList"></partial>
    </div>
</div>

<div class="row">
    <div class="col-12">
     <input asp-for="Description" style="width:51em;" value="@Model.Description" class="">

    </div>
</div>

@*<div class="col-md-12" style="max-height:20em;">
    <partial name="_ImageCarousel" model="Model.uploadPathsList"></partial>
</div>*@

<div class="row">
    <div class="col-12">
            <div class="paper">
                <div class="paper-content">
        <textarea style="height:20em;" value="@Model.Body" asp-for="Body" class=""></textarea>

    </div>
</div>

    </div>
</div>

@*<div class="row">
    <div class="col-12 d-flex">
        <input asp-for="uploads" style="width:10em" class="form-control" />
        <button type="submit" title="Save" class="btn btn-success">Save</button>
        <button type="button" title="Cancel" class="btn btn-danger">Cancel</button>

    </div>

</div>
*@
</div>