@model GenericAppDLL.Models.ViewModels.CustomerViewModel

<div class="card">
    <img class="card-img-top" src="~/@Model.ProfileImagePath" alt="~/profileimage.png">
    <div class="card-body">
        <h5 class="card-title">@Model.CustomerName</h5>
        <p class="card-text">@Model.CustomerEmail  @Model.ModelGUID</p>
        <div class="d-flex">
        <a asp-action="SendDirectMessage" asp-controller="Chat" asp-route-id="@Model.ModelGUID" class="btn btn-primary"><i class="fa-solid fa-message"></i>@*Message*@</a>
        @if (Model.IsFriend == 99 || Model.IsFriend == 3)
        {                
            <a asp-action="SendFriendRequest" asp-controller="Profile" asp-route-id="@Model.ModelGUID" class="btn btn-secondary"><i class="fas fa-user-plus"></i>@*Add Friend*@</a>
        }       
        
        @if (Model.IsFriend == 2)
        {                
            <a asp-action="SendFriendRequest" asp-controller="Profile" asp-route-id="@Model.ModelGUID" class="btn btn-Warning"><i class="fas fa-user-plus"></i>@*Add Friend*@</a>
        }
        @if (Model.IsFriend == 1)
        {
                <a asp-action="AcceptFriendRequest" asp-controller="Profile" asp-route-id="@Model.ModelGUID" class="btn btn-success AddItemToCart"><i class="fa-regular fa-circle-check"></i></a>
                <a asp-action="DeclineFriendRequest" asp-controller="Profile" asp-route-id="@Model.ModelGUID" data-target="#Modal" class="btn btn-danger AddItemToCart"><i class="fa-regular fa-circle-xmark"></i></a>
        }

        <form asp-action="ViewProfile" asp-controller="Profile" asp-route-email="@Model.ModelGUID">
        <input asp-for="ModelGUID" hidden/>
        <button type="submit" asp-action="ViewProfile" asp-controller="Profile" asp-route-id="@Model.ModelGUID" class="btn btn-success"><i class="fas fa-user"></i>@*View Profile*@</button>
        </form>
            </div>
    </div>
</div>
<br />