@model GenericAppDLL.Models.ViewModels.SettingsImplementationViewModel

<div class="Theme-Selected">
    <input id="Theme-Selected" value="@Model.SelectedTheme" hidden></input>
    <input id="Settings-Notification-Num" value="@Model.NumNotifcations" hidden></input>
</div>

<div class="Adverts">
    @if (Model.sideAdverts.Count>1)
    {       
    <input id="Enable-Side-Adverts" type="checkbox" value="@Model.EnableSideAdvert.ToString()" hidden></input>
    <input id="Settings-Left-Side-Advert-Path" value="@Model.sideAdverts[0].ImagePath01" hidden></input>
    <input id="Settings-Left-Side-Advert-Caption" value="@Model.sideAdverts[0].Caption" hidden></input>
    <input id="Settings-Left-Side-Advert-Hyperlink" value="@Model.sideAdverts[0].Hyperlink" hidden></input>
    <input id="Settings-Left-Side-Advert-Description" value="@Model.sideAdverts[0].Description" hidden></input>
    <input id="Settings-Right-Side-Advert-Path" value="@Model.sideAdverts[1].ImagePath01" hidden></input>
    <input id="Settings-Right-Side-Advert-Caption" value="@Model.sideAdverts[1].Caption" hidden></input>
    <input id="Settings-Right-Side-Advert-Hyperlink" value="@Model.sideAdverts[1].Hyperlink" hidden></input>
    <input id="Settings-Right-Side-Advert-Description" value="@Model.sideAdverts[1].Description" hidden></input>
    }
</div>