@model GenericAppDLL.Models.ViewModels.SettingsViewModel

<partial name="_SettingsImplementation" model="@Model.settings"></partial>

<div class="row">

    <div class="col-3  d-none d-sm-block">
    </div>
    <div class="col-md-6 col-sm-12">
        <h3> Settings </h3>
        <form asp-action="SaveSettings" enctype="multipart/form-data" method="post" asp-controller="Notification">

            @*<partial name="_ThemeControl" model="Model.Themes" />*@
            <h6> Themes </h6>
            @foreach (var theme in Model.Themes.Themes)
            {
                @:&emsp;
                @Html.RadioButtonFor(model => model.Themes.SelectedTheme, theme.ThemeCode, new { @class = "Theme-Control-option"}) @theme.ThemeName
                <br />
                @*    <input asp-for="@Model.Themes.SelectedTheme" class="Theme-Control-option" onselect="ChangeTheme(@theme.ThemeCode)" type="radio" name="SelectedTheme" title="@theme.ThemeName" value="@theme.ThemeCode" class="form-control">
            <br />*@
            }
            <br /><br />
            <h6> Menu Settings </h6>&emsp;
            @Html.RadioButtonFor(model => model.SelectedMenu,"Side", new { @class = "", @id = "sideRadio"}) Side &emsp; &emsp;&emsp;&emsp;
            @Html.RadioButtonFor(model => model.SelectedMenu,"Top", new { @class = "" , @id = "topRadio"}) Top &emsp;
            <br /><br />
            <h6> Update Profile Image </h6>&emsp;
            <input asp-for="newProfile" type="file"></input>
            <br /><br />
            <button style="float: right;" type="submit" title="Save" value="Save Changes"> Save Changes</button>

        </form>
    </div>
    <div class="col-3  d-none d-sm-block">
    </div>
</div>


